/* ! SIGN-UP FORM START */

.sing-up-form {
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 350px;
    width: 100%;
    padding: 2rem 7rem;
    border: 2px solid var(--main-color);
    border-radius: 25px;
}

.sing-up-form label {
    font-size: 21px;
}

.sing-up-form input {
    margin-bottom: 12px;
}

.account-info-1 {
    display: flex;
    flex-direction: column;
}

.sing-up-form input:not([type= "radio"]) {
    padding: 12px 30px;
    border: none;
    outline: none;
    border-radius: 12px;
    transition: border .2s ease-in-out;
}

.sing-up-form input:focus:not([type= "radio"]) {
    border: 3px solid var(--secondary);
}

.sing-up-form .account-info-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.gender input[type="radio"] {
    scale: 1.3;
    margin-right: 12px;
    background-color: var(--main-color);
}

.gender label[for="male"] {
    margin-left: 15px;
}

.gender label[id="gender-label"] {
    margin-right: 10px;
}

.country select {
    padding: 8px 16px;
    text-align: center;
    border: 1px solid var(--secondary); 
    border-radius: 8px;
    background: var(--main-color);
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

.country select option {
    cursor: pointer;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.form-buttons button {
    padding: 12px 20px;
    font-size: 18px;
}

.login-signup-links h2 {
    font-size: 15px;
    text-align: center;
}

.login-signup-links h2 a {
    text-decoration: underline;
}

/* ? SIGN-UP FORM END */


/* ! LOGİN FORM START */

.login-form {
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 200px;
    width: 100%;
    padding: 2rem 7rem;
    border: 2px solid var(--secondary);
    border-radius: 25px;
}

.login-form .account-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.account-details label {
    font-size: 21px;
    margin-bottom: 12px;
}

.account-details input {
    margin-bottom: 12px;
    padding: 12px 20px;
    border: none;
    outline: none;
    border-radius: 12px;
    transition: border .2s ease-in-out;
}

.account-details input:focus {
    border: 3px solid var(--main-color);
}

/* ? LOGİN FORM END */